---
import Card from "../../components/services/Card.astro";
---

<section class="p-4">
    <header>
        <h2 class="text-3xl text-center p-8">Servicios</h2> 
    </header>
    <article
        class="grid grid-cols-1 lg:grid-cols-3 gap-8 w-full p-6 md:p-8 max-w-7xl mx-auto"
    >
        <!-- Card 1 -->
        <Card
            title="Suspensión regulable"
            description="Línea diseñada para el uso cotidiano."
            image="/images/regulable.webp"
            contactLink="/contacto"
            learnMoreLink="/suspension-regulable"
        />

        <!-- Card 2 -->
        <Card
            title="Suspensión deportiva"
            description="Kit para reducir la altura según la preferencia del cliente."
            image="/images/deportiva.webp"
            contactLink="/contacto"
            learnMoreLink="/suspension-deportiva"
        />

        <!-- Card 3 -->
        <Card
            title="Suspensión standard"
            description="Fabricación propia de suspensión regulable en altura."
            image="/images/standard.webp"
            contactLink="/contacto"
            learnMoreLink="/suspension-standard"
        />

        <!-- Card 4 -->
        <Card
            title="Alineación/Corrección de combas/Balanceo de ruedas"
            description="Lo sugerimos dos veces al año o cada 8000km aproximadamente."
            image="/images/services/services-1.webp"
            contactLink="/contacto"
            learnMoreLink="/suspension-regulable"
        />

        <!-- Card 5 -->
        <Card
            title="Tren delantero"
            description="Recomendamos hacer una una revisión periódica anual para evitar mayores costos de mantenimiento. "
            image="/images/services/services-tren-delantero.webp"
            contactLink="/contacto"
            learnMoreLink="/suspension-deportiva"
        />

        <!-- Card 6 -->
        <Card
            title="Tren trasero"
            description="Es de vital importancia para lograr un buen funcionamiento."
            image="/images/services/services-tren-trasero.webp"
            contactLink="/contacto"
            learnMoreLink="/suspension-standard"
        />
    </article>
</section>
