---
import '../../styles/global.css'
import Layout from "../../layouts/Layout.astro";
import Header from '../../components/common/Header.astro';
import Services from '../../components/services/services.astro';
---

<Layout>
    <Header />
    <main class="pl-0 md:pl-[200px] lg:pl-[300px]">
        <Services />
    </main>
</Layout>