---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
import Header from '../components/common/Header.astro';
import Slider from '../components/home/Slider.astro';
import { desktopImages, desktopImages2, mobileImages, mobileImages2 } from '../data/images';
import Cards from '../components/home/Cards.astro';
import Services from '../components/home/Services.astro';
import LocationCards from '../components/home/LocationCards.astro';
import Footer from '../components/common/Footer.astro';
---

<Layout>
  <Header />
  <main class="pl-0 md:pl-[200px] lg:pl-[300px]">
    <Slider desktopImages={desktopImages} mobileImages={mobileImages} />
    <Cards />
    <Slider desktopImages={desktopImages2} mobileImages={mobileImages2} />
    <Services />
    <LocationCards />
  </main>
  <Footer />
</Layout>
