---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Slider from '../components/Slider.astro';
import { desktopImages, mobileImages } from '../data/images';
import Cards from '../components/Cards.astro';
import Services from '../components/Services.astro';
---

<Layout>
	<Header />
	<main class="md:pl-[200px] lg:pl-[300px]">
		<Slider desktopImages={desktopImages} mobileImages={mobileImages} />
		<Cards />
		<Slider desktopImages={desktopImages} mobileImages={mobileImages} />
		<Services />
	</main>
</Layout>
