---
import "../../styles/global.css";
---

<section class="mb-10">
    <header class="w-full mb-8 p-4 md:p-0">
        <h2 class="text-3xl">Servicios</h2>
    </header>

    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-6 place-items-center md:place-items-stretch">
        <!-- Tarjeta 1 -->
        <article
            class="relative w-[90%] md:w-full aspect-square rounded-3xl bg-white/40 bg-center bg-no-repeat overflow-hidden"
            style="background-image: url('/images/services/services-1.webp'); background-size: cover;"
        >
            <div class="absolute inset-0 bg-black opacity-40 z-0"></div>

            <a
                href="/servicios/alineación-corrección-de-combas-balanceo-de-ruedas"
                class="relative w-full h-full flex flex-col justify-between items-center p-4 sm:p-6 rounded-3xl hover:bg-white/20 transition-all duration-300 z-10"
            >
                <h3 class="text-lg sm:text-xl md:text-2xl text-center mt-2 sm:mt-4 text-white">
                    Alineación/Corrección de combas/Balanceo de ruedas
                </h3>
                <span class="inline-block px-6 py-2 text-lg sm:text-xl bg-[#212121] rounded-xl hover:bg-white/30 hover:border-2 hover:border-[#212121] transition-colors duration-300 mt-4">
                    Ver más
                </span>
            </a>
        </article>

        <!-- Tarjeta 2 -->
        <article
            class="relative w-[90%] md:w-full aspect-square rounded-3xl bg-white/40 bg-center bg-no-repeat overflow-hidden"
            style="background-image: url('/images/services/services-tren-delantero.webp'); background-size: cover;"
        >
            <div class="absolute inset-0 bg-black opacity-40 z-0"></div>

            <a
                href="/servicios/tren-delantero"
                class="relative w-full h-full flex flex-col justify-between items-center p-4 sm:p-6 rounded-3xl hover:bg-white/20 transition-all duration-300 z-10"
            >
                <h3 class="text-lg sm:text-xl md:text-2xl text-center mt-2 sm:mt-4 text-white">
                    Tren delantero
                </h3>
                <span class="inline-block px-6 py-2 text-lg sm:text-xl bg-[#212121] rounded-xl hover:bg-white/30 hover:border-2 hover:border-[#212121] transition-colors duration-300 mt-4">
                    Ver más
                </span>
            </a>
        </article>

        <!-- Tarjeta 3 -->
        <article
            class="relative w-[90%] md:w-full aspect-square rounded-3xl bg-white/40 bg-center bg-no-repeat overflow-hidden"
            style="background-image: url('/images/services/services-tren-trasero.webp'); background-size: cover;"
        >
            <div class="absolute inset-0 bg-black opacity-40 z-0"></div>

            <a
                href="/servicios/tren-trasero"
                class="relative w-full h-full flex flex-col justify-between items-center p-4 sm:p-6 rounded-3xl hover:bg-white/20 transition-all duration-300 z-10"
            >
                <h3 class="text-lg sm:text-xl md:text-2xl text-center mt-2 sm:mt-4 text-white">
                    Tren trasero
                </h3>
                <span class="inline-block px-6 py-2 text-lg sm:text-xl bg-[#212121] rounded-xl hover:bg-white/30 hover:border-2 hover:border-[#212121] transition-colors duration-300 mt-4">
                    Ver más
                </span>
            </a>
        </article>

        <!-- Botón "Ver todos los servicios" -->
        <article
            class="relative w-3/4 md:w-1/2 h-16 md:col-span-3 flex items-center justify-center rounded-xl bg-white/40 hover:bg-white/30 transition-all duration-300 mt-6 place-self-center px-6"
        >
            <a
                href="/servicios"
                class="text-lg sm:text-xl md:text-2xl text-white text-center w-full"
            >
                Ver todos los Servicios
            </a>
        </article>
    </div>
</section>
