---
const message =
  "Hola Ross Suspensión! Quiero un turno, por favor. Estoy interesado en…";
const encodedMessage = encodeURIComponent(message);
const whatsappLink = `https://wa.me/5493516704096?text=${encodedMessage}`;
---

<section
  class="h-[50vh] bg-right bg-cover bg-no-repeat relative rounded-3xl md:rounded-l-3xl mb-10"
  style="background-image: url('/images/turn.webp');"
>
  <div
    class="absolute inset-0 flex flex-col items-center justify-end pb-12 sm:justify-center sm:pb-0 backdrop-blur-xs rounded-3xl md:rounded-l-3xl"
  >
    <a
      href={whatsappLink}
      target="_blank"
      class="inline-block px-6 py-4 text-lg sm:text-2xl sm:px-12 sm:py-6 bg-[#212121] rounded-xl hover:bg-white/30 hover:border-2 hover:border-[#212121] transition-all duration-300 w-full max-w-[280px] sm:max-w-[360px] text-center whitespace-normal text-wrap balance"
    >
      <h3>¡Reserva tu turno ahora!</h3>
    </a>
  </div>
</section>
