---
import "../../styles/global.css";
---

<section class="h-[50vh] bg-right bg-cover bg-no-repeat relative rounded-3xl mb-10" style="background-image: url('/images/turn.webp');">
    <div class="absolute inset-0 flex flex-col items-center justify-end pb-4 sm:justify-center sm:pb-0">
      <a href=""
         class="inline-block px-6 py-2 text-lg sm:text-xl bg-[#212121] rounded-full hover:bg-white/30 hover:border-2 hover:border-[#212121] transition-colors duration-300">
        Sacar turno
      </a>
    </div>
  </section>
  