---
import "../styles/global.css";
---

<section class="grid grid-cols-2 text-center w-full h-[600px]">
    <article class="flex flex-col justify-between h-full">
        <header>
            <h2 class="mb-4 text-2xl font-bold">Ubicación</h2>
        </header>
        <!-- Parte superior: Imagen -->
        <div class="flex-1 mb-4">
            <img
                src="/ruta/a/tu/imagen-del-local.jpg"
                alt="Foto del local"
                class="w-full h-full object-cover"
            />
        </div>

        <!-- Parte inferior: Mapa -->
        <div class="flex-1">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0487171397357!2d-64.2056485!3d-31.3804724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943298bf3c9b2353%3A0xa5e199d1fff6b887!2sRoss%20Suspension!5e0!3m2!1ses!2sus!4v1676421571605!5m2!1ses!2sus"
                class="w-full max-w-full h-full"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"></iframe>
        </div>
    </article>
    <article class="flex flex-col justify-between h-full">
        <header>
            <h2 class="mb-4 text-2xl font-bold">Tarjeta</h2>
        </header>
    </article>
</section>
