---
import "../../styles/global.css";
import "../../styles/menu.css";
---

<!-- Menú desktop -->
<header
  class="fixed left-0 top-0 w-[200px] lg:w-[300px] h-full flex-col items-start p-4 md:p-8 bg-inherit hidden md:flex"
>
  <!-- Logo -->
  <div class="mb-6 w-full">
    <h1
      class="text-[18px] md:text-[20px] lg:text-[25px] text-center whitespace-nowrap"
    >
      Ross Suspensión
    </h1>
  </div>

  <!-- Menú -->
  <nav class="w-full text-lg sm:text-xl md:text-[16x]">
    <ul class="flex flex-col space-y-2 w-full">
      <li class="w-full">
        <a
          href="/"
          class="w-full h-10 sm:h-12 flex items-center rounded-lg transition-all duration-500 hover:bg-white/20 hover:pl-4 sm:hover:pl-6"
        >
          Inicio
        </a>
      </li>
      <li class="w-full">
        <a
          href="/servicios"
          class="w-full h-10 sm:h-12 flex items-center rounded-lg transition-all duration-500 hover:bg-white/20 hover:pl-4 sm:hover:pl-6"
        >
          Servicios
        </a>
      </li>
      <li class="w-full">
        <a
          href="https://wa.me/5493516704096?text=Hola,%20quiero%20consultar%20más%20información"
          class="w-full h-10 sm:h-12 flex items-center rounded-lg transition-all duration-500 hover:bg-white/20 hover:pl-4 sm:hover:pl-6"
        >
          Contacto
        </a>
      </li>
    </ul>
  </nav>
</header>

<!-- Menú móvil -->
<header
class="fixed top-0 left-0 right-0 md:hidden z-10 bg-[#212121]/60 backdrop-blur-sm min-h-[60px] sm:min-h-[70px]"
>
<div class="flex items-center justify-between px-3 sm:px-4 py-3 sm:py-4">
    <!-- Logo -->
    <h1>
      <a href="/" class="text-lg text-white"> Ross Suspensión </a>
    </h1>

    <!-- Botón hamburguesa animado -->
    <button
      id="menu-toggle"
      class="p-2 rounded-md hover:bg-white/40 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-mate"
    >
      <span class="sr-only">Open menu</span>
      <div class="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
  </div>

  <!-- Menú desplegable -->
  <nav
    id="mobile-menu"
    class="absolute hidden w-full h-auto overflow-hidden bg-[#212121]/60 transition-all duration-300"
  >
    <div class="px-3 sm:px-4 pt-2 pb-3 space-y-1">
      <a
        href="/"
        class="w-full h-10 sm:h-12 flex items-center px-3 transition-all duration-500 hover:bg-white/20 hover:pl-4 sm:hover:pl-6 rounded-lg"
      >
        Inicio
      </a>
      <a
        href="/servicios"
        class="w-full h-10 sm:h-12 flex items-center px-3 transition-all duration-500 hover:bg-white/20 hover:pl-4 sm:hover:pl-6 rounded-lg"
      >
        Servicios
      </a>
      <a
        href="https://wa.me/5493516704096?text=Hola,%20quiero%20consultar%20más%20información"
        class="w-full h-10 sm:h-12 flex items-center px-3 transition-all duration-500 hover:bg-white/20 hover:pl-4 sm:hover:pl-6 rounded-lg"
      >
        Contacto
      </a>
    </div>
  </nav>
</header>

<script src="../../scripts/menu.ts"></script>
