---
import '../../styles/global.css'
import Layout from "../../layouts/Layout.astro";
import Header from '../../components/common/Header.astro';
import Services from '../../components/services/services.astro';
import WspContact from '../../components/common/WspContact.astro';
import Footer from '../../components/common/Footer.astro';
---

<Layout>
    <Header />
    <main class="pl-0 md:pl-[200px] lg:pl-[300px] min-h-screen">    
        <Services />
        <WspContact />
    </main>
    <Footer />
</Layout>

<style>
    main {
        background: linear-gradient(
            45deg,
            hsl(240deg 4% 10%) 0%,
            hsl(240, 5%, 12%) 50%,
            hsl(240deg 5% 14%) 100%
        );
    }
</style>
