---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/common/Header.astro";
import ServiceDetail from "../../components/services/ServiceDetail.astro";
import Footer from "../../components/common/Footer.astro";
---

<Layout>
    <Header />
    <main class="pl-0 mb-9 md:pl-[200px] lg:pl-[300px] min-h-screen">
        <ServiceDetail
            title="Suspensión standard"
            image="/images/standard.webp"
            description=" Linea de reposición original diseñada para el uso cotidiano, ofrece un perfecto equilibrio entre confort y estabilidad,  logrando  así  un buen desempeño y  una mayor durabilidad del resto de los componentes del tren delantero. Linea diseñada para el uso cotidiano, ofrece un perfecto equilibrio entre confort y estabilidad, logrando así una mayor seguridad y durabilidad del resto de los componentes del tren delantero como fuelles, tacos varios y la vida útil de los neumáticos."
        />
    </main>
    <Footer />
</Layout>
