---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/common/Header.astro";
import ServiceDetail from "../../components/services/ServiceDetail.astro";
import Footer from "../../components/common/Footer.astro";
---

<Layout>
    <Header />
    <main class="pl-0 md:pl-[200px] lg:pl-[300px] min-h-screen">
        <ServiceDetail
            title="Suspensión regulable"
            image="/images/regulable.webp"
            description="Nuestras suspensiones coilover regulables en altura de fabricación propia y cuerpo roscado, se caracteriza por su capacidad de repuesta deportiva y una larga vida útil, con grandes ventajas tales como ajustar la altura del vehículo mejorando el rendimiento según el terreno y optimizar la aerodinámica de la condición en autopista etc. Nuestra linea de suspensión deportiva es la única en el país con 18 meses de garantía."
        />
    </main>
    <Footer />
</Layout>
