---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/common/Header.astro";
import ServiceDetail from "../../components/services/ServiceDetail.astro";
import Footer from "../../components/common/Footer.astro";
---

<Layout>
    <Header />
    <main class="pl-0 md:pl-[200px] lg:pl-[300px] min-h-screen">
        <ServiceDetail
            title="Tren delantero"
            image="/images/services/services-tren-delantero.webp"
            description="La salubridad de los amortiguadores y los neum치ticos est치 ligada/o directamente al resto de los componentes del tren delantero. Recomendamos hacer una una revisi칩n peri칩dica anual para evitar mayores costos de mantenimiento. "
        />
    </main>
    <Footer />
</Layout>